
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(/assets/images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Contact Us</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!--Contact Details Start-->
	<section class="contact-details">
		<div class="container pt-110 pb-70">
			<div class="row">
				<div class="col-xl-7 col-lg-6">
					<div class="sec-title">
						<span class="sub-title before-none">Get in Touch</span>
						<h2>We’re happy to assist </h2>
					</div>
					<!-- Contact Form -->

          <!-- Footer Column -->
          <form id="contactForm" method="post">
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" class="form-control" type="text" placeholder="Enter Name" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" class="form-control" type="tel" placeholder="Enter Phone" required pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number" maxlength="10" minlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" class="form-control required email" type="email" placeholder="Enter Email" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" class="form-control required" type="text" placeholder="Enter City" required>
								</div>
							</div>
						
						</div>
						<div class="mb-3">
							<textarea name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" class="form-control required" rows="7" placeholder="Enter Message" required></textarea>
						</div>
						<div class="mb-5">
							<input name="form_botcheck" class="form-control" type="hidden" value="" />
							<button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Send message</span></button>
							<!-- <button type="reset" class="theme-btn btn-style-one bg-theme-color5"><span class="btn-title">Reset</span></button> -->
						</div>
					</form>
					<!-- Contact Form Validation-->
				</div>
				<div class="col-xl-5 col-lg-6">
					<div class="contact-details__right">
						<div class="sec-title">
							<span class="sub-title before-none">Need any help?</span>
							<h2>Get in touch with us</h2>
							<div class="text">If you have any questions, feel free to contact our team for quick assistance.</div>
						</div>
						<ul class="list-unstyled contact-details__info">
							<li>
								<div class="icon">
									<span class="lnr-icon-phone-plus"></span>
								</div>
								<div class="text">
									<h6>Have any question?</h6>
									<a href="tel:9201955244">9201955244 | 9201955245</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-envelope1"></span>
								</div>
								<div class="text">
									<h6>Write email</h6>
									<a href="mailto:reservation@omayasuites.com">reservation@omayasuites.com</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-location"></span>
								</div>
								<div class="text">
									<h6>Visit anytime</h6>
									<span>15B, Omaya Square, Main Gate Kamal Vihar, Dumartarai, Raipur, Chhattisgarh — 492015</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Contact Details End-->

	<!-- Map Section-->
	<section class="map-section">
		<iframe class="map w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d133601.966493913!2d81.60053583955929!3d21.201042521557756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dd1fe719e437%3A0x7775670391c54f64!2sOmaya%20Suites%20Raipur!5e1!3m2!1sen!2sin!4v1763489148989!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
	<!--End Map Section-->
