
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(/assets/images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Contact Us</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<div class="elementor-element elementor-element-b541ab7 e-flex e-con-boxed tm-col-stretched-none tm-bg-color-over-image e-con e-parent tm-col-stretched-no tm-bgimage-no tm-bgcolor-yes e-lazyloaded" data-id="b541ab7" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"><div class="e-con-inner"><div class="elementor-element elementor-element-e11dfa5 e-con-full e-flex tm-col-stretched-none tm-bg-color-over-image e-con e-child tm-bgimage-yes tm-bgcolor-yes" data-id="e11dfa5" data-element_type="container"><div class="elementor-element elementor-element-75cca64 e-con-full e-flex tm-col-stretched-none tm-bg-color-over-image e-con e-child tm-bgimage-yes tm-bgcolor-yes" data-id="75cca64" data-element_type="container"><div class="elementor-element elementor-element-d2712e8 horizontal-line-align-left vertical-line-align-bottom elementor-widget elementor-widget-tm-ele-section-title" data-id="d2712e8" data-element_type="widget" data-widget_type="tm-ele-section-title.default"><div class="elementor-widget-container"><div class="tm-sc-section-title section-title line-right-current-theme "><div class="title-wrapper"><div class="sub-title-outer"><div class="subtitle ">
		Call to action</div></div><h2 class="title tm-split-text split-in-right" style="perspective: 400px;"><div class="split-line" style="display: block; text-align: start; position: relative;"><span class="title-part1 "><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">T</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">h</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">e</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">T</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">h</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">i</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">n</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">E</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">s</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">c</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">a</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">p</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">e</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">.</div></div></span></div></h2><div class="title-seperator-line"></div></div></div></div></div><div class="elementor-element elementor-element-91d2126 elementor-widget elementor-widget-tm-ele-iconbox" data-id="91d2126" data-element_type="widget" data-widget_type="tm-ele-iconbox.default"><div class="elementor-widget-container"><div class="tm-sc-icon-box icon-box icon-left font-icon icon-left"><div class="icon-box-wrapper"><div class="icon-wrapper"><div class="icon icon-round icon-type-font-icon icon-md">
		<i aria-hidden="true" class=" flaticon-hotel-035-airplane"></i></div></div><div class="icon-text"><h5 class="icon-box-title ">
		Easy &amp; Free Transport</h5><div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		eiusmod tempor incididunt dolore magna aliqua.</div></div><div class="clearfix"></div></div></div></div></div><div class="elementor-element elementor-element-b7bdebe elementor-widget elementor-widget-tm-ele-iconbox" data-id="b7bdebe" data-element_type="widget" data-widget_type="tm-ele-iconbox.default"><div class="elementor-widget-container"><div class="tm-sc-icon-box icon-box icon-left font-icon icon-left"><div class="icon-box-wrapper"><div class="icon-wrapper"><div class="icon icon-round icon-type-font-icon icon-md">
		<i aria-hidden="true" class=" flaticon-hotel-037-fast-food"></i></div></div><div class="icon-text"><h5 class="icon-box-title ">
		Clean &amp; Fresh Food</h5><div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		eiusmod tempor incididunt dolore magna aliqua.</div></div><div class="clearfix"></div></div></div></div></div><div class="elementor-element elementor-element-d2d28fe elementor-widget elementor-widget-tm-ele-iconbox" data-id="d2d28fe" data-element_type="widget" data-widget_type="tm-ele-iconbox.default"><div class="elementor-widget-container"><div class="tm-sc-icon-box icon-box icon-left font-icon icon-left"><div class="icon-box-wrapper"><div class="icon-wrapper"><div class="icon icon-round icon-type-font-icon icon-md">
		<i aria-hidden="true" class=" flaticon-hotel-036-swimming-pool-1"></i></div></div><div class="icon-text"><h5 class="icon-box-title ">
		Play Ground &amp; Swimming Pool</h5><div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		eiusmod tempor incididunt dolore magna aliqua.</div></div><div class="clearfix"></div></div></div></div></div></div><div class="elementor-element elementor-element-9eb4283 e-con-full e-flex tm-col-stretched-none tm-bg-color-over-image e-con e-child tm-bgimage-yes tm-bgcolor-yes" data-id="9eb4283" data-element_type="container"><div class="elementor-element elementor-element-540460d tm-col-stretched-none e-con-full e-flex tm-bg-color-over-image e-con e-child tm-bgimage-yes tm-bgcolor-yes" data-id="540460d" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"><div class="elementor-element elementor-element-c9a9f0a elementor-widget elementor-widget-tm-ele-text-editor" data-id="c9a9f0a" data-element_type="widget" data-widget_type="tm-ele-text-editor.default"><div class="elementor-widget-container"><div class="tm-text-editor"><p>ROOMS &amp; SUITES</p></div></div></div><div class="elementor-element elementor-element-8028463 elementor-widget elementor-widget-tm-ele-text-editor" data-id="8028463" data-element_type="widget" data-widget_type="tm-ele-text-editor.default"><div class="elementor-widget-container"><div class="tm-text-editor"><h2>Hotel Booking</h2></div></div></div><div class="elementor-element elementor-element-66ab605 elementor-widget elementor-widget-tm-ele-reservation-form" data-id="66ab605" data-element_type="widget" data-widget_type="tm-ele-reservation-form.default"><div class="elementor-widget-container"><div class="kodelisting-reservation-form skin-default kodelisting-form-square"><form class="kodelisting-form-wrap" data-display-date-format="YYYY-MM-DD" data-date-format="YYYY-MM-DD" action="https://dev24.kodesolution.com/hoexr/" method="GET"><div class="kodelisting-form-field kodelisting-check-in"><div class="field-wrap">
		<label class="kodelisting-form-label">Check In</label><div class="field-input-wrap checkin-date">
		<input type="text" class="date-range-picker" value="2025-11-30 - 2025-12-01">
		<input type="text" value="" data-value="2025-11-30" class="check-in-date" name="check-in-date" readonly=""></div></div></div><div class="kodelisting-form-field kodelisting-check-out"><div class="field-wrap">
		<label class="kodelisting-form-label">Check Out</label><div class="field-input-wrap checkout-date">
		<input type="text" value="" data-value="2025-12-01" class="check-out-date" name="check-out-date" readonly=""></div></div></div><div class="kodelisting-form-field kodelisting-rooms kodelisting-has-dropdown"><div class="field-wrap">
		<label class="kodelisting-form-label">Rooms</label><div class="field-input-wrap has-dropdown">
		<input type="text" name="room" value="1 Room" readonly=""></div><div class="kodelisting-dropdown"><div class="kodelisting-dropdown-item">
		<label class="kodelisting-form-label">Rooms</label><div class="quantity kodelisting-quantity" data-label="room">
		<label class="screen-reader-text">Rooms quantity</label>
		<button class="minus"></button>
		<input type="text" name="room-quantity" value="1" class="input-text" autocomplete="off" readonly="" data-min="1" data-max="50">
		<button class="plus"></button></div></div></div></div></div><div class="kodelisting-form-field kodelisting-guests kodelisting-has-dropdown"><div class="field-wrap">
		<label class="kodelisting-form-label">Guests</label><div class="field-input-wrap has-dropdown">
		<input type="text" name="guests" value="1 Adult, 0 Child" readonly=""></div><div class="kodelisting-dropdown"><div class="kodelisting-dropdown-item">
		<label class="kodelisting-form-label">Adults</label><div class="quantity kodelisting-quantity" data-label="adult">
		<label class="screen-reader-text">Adults quantity</label>
		<button class="minus"></button>
		<input type="text" name="adult-quantity" value="1" class="input-text" autocomplete="off" readonly="" data-min="1" data-max="50">
		<button class="plus"></button></div></div><div class="kodelisting-dropdown-item">
		<label class="kodelisting-form-label">Children</label><div class="quantity kodelisting-quantity" data-label="child">
		<label class="screen-reader-text">Children quantity</label>
		<button class="minus"></button>
		<input type="text" name="child-quantity" value="0" class="input-text" autocomplete="off" readonly="" data-min="0" data-max="50">
		<button class="plus"></button></div></div></div></div></div><div class="kodelisting-form-field kodelisting-submit"><div class="field-wrap">
		<button class="button btn btn-theme-colored1" role="button" type="submit">
		<span class="btn-text">Check Availability</span>
		</button></div></div>
		<input type="hidden" name="search_rooms" value=""></form></div><div class="daterangepicker ltr auto-apply show-calendar opensright"><div class="ranges"></div><div class="drp-calendar left"><div class="calendar-table"></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-calendar right"><div class="calendar-table"></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-buttons"><span class="drp-selected"></span><button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button><button class="applyBtn btn btn-sm btn-primary" disabled="disabled" type="button">Apply</button> </div></div></div></div></div><div class="elementor-element elementor-element-4b82757 elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile elementor-widget elementor-widget-tm-ele-floating-objects" data-id="4b82757" data-element_type="widget" data-widget_type="tm-ele-floating-objects.default"><div class="elementor-widget-container"><div class="tm-ele-floating-objects ">
		<span class="each-object elementor-repeater-item-0ef5bd6   " style="background-image: url(https://dev24.kodesolution.com/hoexr/wp-content/uploads/2024/05/shape-1.png);"></span></div></div></div></div></div></div></div>




	<!--Contact Details Start-->
	<section class="contact-details">
		<div class="container pt-110 pb-70">
			<div class="row">
				<div class="col-xl-7 col-lg-6">
					<div class="sec-title">
						<span class="sub-title before-none">Get in Touch</span>
						<h2>We’re happy to assist </h2>
					</div>
					<!-- Contact Form -->

          <!-- Footer Column -->
          <form id="contactForm" method="post">
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" class="form-control" type="text" placeholder="Enter Name" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" class="form-control" type="tel" placeholder="Enter Phone" required pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number" maxlength="10" minlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" class="form-control required email" type="email" placeholder="Enter Email" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" class="form-control required" type="text" placeholder="Enter City" required>
								</div>
							</div>
						
						</div>
						<div class="mb-3">
							<textarea name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" class="form-control required" rows="7" placeholder="Enter Message" required></textarea>
						</div>
						<div class="mb-5">
							<input name="form_botcheck" class="form-control" type="hidden" value="" />
							<button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Send message</span></button>
							<!-- <button type="reset" class="theme-btn btn-style-one bg-theme-color5"><span class="btn-title">Reset</span></button> -->
						</div>
					</form>
					<!-- Contact Form Validation-->
				</div>
				<div class="col-xl-5 col-lg-6">
					<div class="contact-details__right">
						<div class="sec-title">
							<span class="sub-title before-none">Need any help?</span>
							<h2>Get in touch with us</h2>
							<div class="text">If you have any questions, feel free to contact our team for quick assistance.</div>
						</div>
						<ul class="list-unstyled contact-details__info">
							<li>
								<div class="icon">
									<span class="lnr-icon-phone-plus"></span>
								</div>
								<div class="text">
									<h6>Have any question?</h6>
									<a href="tel:9201955244">9201955244 | 9201955245</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-envelope1"></span>
								</div>
								<div class="text">
									<h6>Write email</h6>
									<a href="mailto:reservation@omayasuites.com">reservation@omayasuites.com</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-location"></span>
								</div>
								<div class="text">
									<h6>Visit anytime</h6>
									<a>15B, Omaya Square, Main Gate Kamal Vihar, Dumartarai, Raipur, Chhattisgarh — 492015</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Contact Details End-->

	<!-- Map Section-->
	<section class="map-section" style="background-color: #222222;">
		<a href="https://www.google.com/maps/place/Omaya+Suites+Raipur/@21.201042521557756,81.60053583955929,17z/data=!3m1!4b1!4m6!3m5!1s0x3a28dd1fe719e437:0x7775670391c54f64!8m2!3d21.201042521557756!4d81.60053583955929!16s%2Fg%2F11v0q8x8x8" target="_blank" style="display: block; text-decoration: none;">
			<iframe class="map w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d133601.966493913!2d81.60053583955929!3d21.201042521557756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dd1fe719e437%3A0x7775670391c54f64!2sOmaya%20Suites%20Raipur!5e1!3m2!1sen!2sin!4v1763489148989!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</a>
	</section>
	<!--End Map Section-->
