<%- include('header', {seoDetails}) %>
<%- include('partials/Home/homebanner.ejs') %>

<%- include('partials/Home/homeabout.ejs') %>

<%- include('partials/Home/homeproducts.ejs') %>

<%- include('partials/Home/homerestaurent.ejs') %>

<%- include('partials/Home/homeservice.ejs') %>


  <!-- video-section -->
  <section class="video-section">
    <div class="bg bg-image" style="background-image: url(/assets/images/background/1.jpg);"></div>
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-9 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="sec-title-two light wow slideInUp">
              <span class="sub-title">Promotional Video</span>
              <h2> Book Hotal Rooms, <br>et Deals & Book Flights Online.</h2>
            </div>
          </div>
        </div>
        <div class="btn-column col-lg-3 col-md-12 col-sm-12">
          <div class="inner-column">
            <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now-two" data-fancybox="gallery" data-caption="">
              <img src="/assets/images/icons/play.png" alt="" />
              <span class="ripple"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End video section -->



  <!-- testimonial-section -->
<%- include('partials/Home/testimonial', {testimonial, S3_BASE_URL}) %>
  <!-- End testimonial section -->


<%- include('partials/Home/homecontact.ejs') %>

  <!-- news-section -->
  <%- include('partials/Home/homeblogs', {blogs, S3_BASE_URL}) %>
  <!-- End news section -->

<%- include('footer') %>
